python 2.7
pip>=19.0
numpy>=1.14.0
nibabel>=2.2.1
nilearn>=0.5.0
opencv-python>=3.4.1.15
pandas>=0.23.0
scikit-image>=0.13.1
scikit-learn>=0.20.0
tensorflow>=1.8.0
tensorflow-gpu>=1.8.0
keras>=2.1.6
cudatoolkit=9.1
cudnn=7.0.5
