nrrd library - To check nhdr/nrrd Image header
ResampleImage - To Resample the input Image
bse.sh - To extract b0 from nhdr/nrrd Image
dwiextract - To extract b0 from nifti Image
ConvertBetweenFileFormats - To Convert ndhr/nrrd to nifti files
ImageMath - To fill holes after brain mask prediction
FSL FLIRT - To perform Image Registration
ANTs = 2.2.0 ( To perform Image Registration )
